.majuscule{
  text-transform: uppercase;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
label{
    margin-right: 0px;
    margin-left: 0px;
    width: auto;
  }
  
.btn_nvlsaisie {
    background-color: #53B655;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
  }
  
.btn_nvlsaisie:hover {
    background-color: #408F41;
  }

.btn_recap{
  background-color: #c62385;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 23px;
}

.btn_loupe img {
  width: auto;
}
  
.container {
  /* Ajouter box-sizing */
  box-sizing : border-box;
  border-radius:5px;
  padding:20px;
  width: 100%;
  max-width: 440px;
  margin-top: 150px;
  z-index: 2;
}

.fiche{
  display: flex;
  flex-direction: row;
  gap: 20px;

  /* justify-content: space-between;
  align-items: center; */
}

.gauche{
  width: 47%;
  /* height: 78%; */
  /* margin-right: 20px;
  margin-left: 50px; */
  /* margin:auto; */
  margin-left: auto;
  /* margin-bottom: 20px; */
  

}
.border_gauche{
  /* margin-bottom: auto;
  margin-left: auto; */
  /* margin-right: auto; */
  border: black solid 1px;
  border-radius: 23px;
  padding-bottom: 30px !important;
}

.bandeau{
  background-color: #212b59;
  height: 88px;
  color: white;
  border-radius: 22px 22px 0px 0px;
  align-items: center;
  
}
.bandeau label{
  margin-left: 20px;
}

.bandeau input{
  width: auto;
  background-color: #212b59;
  border: none;
  color:white
}
.bandeau input::placeholder{
  color: #dddddd;
}

.labdate {
  margin: 200px ;
}

.date, .labdate {
  margin : 10px;
}

.date{
  color: white;
}

.formulaire{
  padding: 5px 20px;
}

.formulaire input{
  width: 60%;
  border: black solid 1px;
}

.formulaire label{
  margin: 1px 50px 1px 10px;
  /* margin: 1% 10% 1% 10%; */
}
.label_nom{
  padding-right: 40px;
  /* margin-right: 10%; */
}
.label_promo{
  padding-right: 53px;
  /* margin-right: 12%; */
}

.label_campus{
  padding-right: 82px;
  /* margin-right: 18%; */
}

.formulaire label, input{
  /* padding-bottom: 50px; */
  margin-bottom: 50px;
}


.text_note input[type=number] {
  width: 60px !important;
  margin-left: 10px;
  margin-bottom: 10%;
}



.note label {
  flex: 1;
  margin: 0;
}




/* ================ Carte des notes =============== */

.bandeau_titre {
  background-color: #c62385;
  height: 40px;
  width: 100%;
  position: absolute;
  /* top: 0;
  left: 0; */
  border-radius: 5px 5px 0 0;
  align-items: center;
}

h5 {
  position: relative;
  font-size: 1em;
  text-align: center;
  margin: auto;
  color: white !important;
}

.ooh{
  margin-top: 3%;
}
.card {
  background-color: #dddddd;
  border: solid 1px black;
  margin-left: 4%;
  margin-right: 4%;
  padding: 0 !important;
  
}

.card-body {
  padding: 3% 1%;
  margin: 0 1%;
}

.moyenne {
  padding-bottom: 20px;
  align-items: center;
}


/* ================ Petit carre des notes =============== */
.rectcontainer {
  display: flex;
  flex-wrap: wrap;
  /* gap: 8px; */
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 0 !important;
  padding-top : 3%;
}

.rectangle {
  width: 8%;
  height: 15px;
  background-color: lightgray;
  border: 1px solid #aaa;
  transition: background-color 0.2s;
  cursor: pointer;
  margin: 2px;
  margin-bottom: 5px;
}

.rectangle.active {
  background-color: #212b59;
}

#output {
  font-size: 20px;
  font-weight: bold;
  min-height: 24px;
  padding-bottom: 10px;
}


.rectcontainer2 {
  display: flex;
  flex-wrap: wrap;
  /* gap: 8px; */
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 0 !important;
  padding-top: 3%;
}

.rectangle2 {
  width: 8%;
  height: 15px;
  background-color: lightgray;
  border: 1px solid #aaa;
  transition: background-color 0.2s;
  cursor: pointer;
  margin: 2px;
  margin-bottom: 5px;
}

.rectangle2.active {
  background-color: #212b59;
}

#output2 {
  font-size: 20px;
  font-weight: bold;
  min-height: 24px;
  padding-bottom: 10px;
}


.rectcontainer3 {
  display: flex;
  flex-wrap: wrap;
  /* gap: 8px; */
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 0 !important;
  padding-top: 3%;
}

.rectangle3 {
  width: 8%;
  height: 15px;
  background-color: lightgray;
  border: 1px solid #aaa;
  transition: background-color 0.2s;
  cursor: pointer;
  margin: 2px;
  margin-bottom: 5px;
}

.rectangle3.active {
  background-color: #212b59;
}

#output3 {
  font-size: 20px;
  font-weight: bold;
  min-height: 24px;
  padding-bottom: 10px;
}















/* ================ Div de droite =============== */

.droite{
  width: 42%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  /* border: black solid 1px; */
  /* border-radius: 23px; */
}

.border_droite{
  /* margin-bottom: auto;
  margin-left: auto; */
  /* margin-right: auto; */
  border: black solid 1px;
  border-radius: 23px;
}

.droite form{
  width: 93%;
  padding-left: 5%;
  /* padding-right: 5%;  */
  padding-top: 7%;
  
}

.droite form input{
  height: 60px;
  margin-top: 25px;
  margin-bottom: 28px;
  border: black solid 1px;
}

.input_ressenti{
  width: 82% !important;
  height: 60px ;
}



.input_note{
  margin: 0px !important;
  width: 17% !important;
  height: 60px ;
  text-align: center;
}

.input_note::placeholder{
  text-align: center;
}

.card_cercle{
  margin-top: 10px !important;
  width: 75%;
  height: 100%;
}

.progress-circle{
  position: relative;             /* pour servir de référent */
  box-sizing: border-box;         /* prise en compte bordure dans la dimension */
  font-size: 6em;                 /* pour définir les dimensions */
  width: 1em;                     /* fixe la largeur */
  height: 1em;                    /* fixe la hauteur */
  border-radius: 50%;             /* rendu aspect circulaire */
  border: .15em solid #dddddd;       /* couleur de fond de l'anneau */
  background-color: #dddddd;         /* couleur de fond de la progress bar */
  box-shadow: 0 0 0 1px black;       /* Ajoute une bordure extèrieure */
  

}

.progress-masque {
  position: absolute;
  width: 1em;                     /* 100% de la largeur */
  height: 1em;                    /* 100% de la hauteur */
  left: -.15em;                   /* décalage de la largeur bordure de la gauge */
  top: -.15em;                    /* décalage de la largeur bordure de la gauge */
  clip: rect(0, 1em, 1em, .5em);  /* par défaut seule la partie droite est visible */

}

.progress-barre,
.progress-sup50 {
  position: absolute;
  box-sizing: border-box;         /* prise en compte bordure dans la dimension */
  border-width: .15em;            /* largeur bordure de la gauge */
  border-style: solid;
  border-color: #212b59;
  border-radius: 50%;             /* rendu aspect circulaire */
  width: 1em;                     /* largeur à 100% */
  height: 1em;                    /* hauteur à 100% */
  clip: rect(0, .5em, 1em, 0);    /* on ne garde que la partie gauche */
}

.progress-sup50 {
  display: none;
  clip: rect(0, 1em, 1em, .5em);
  
}

.progress-circle:after {
  content: attr(data-value) "%";  /* récup. valeur de progression */
  font-size: 0.15em;              /* taille de la font en % du parent */
  font-weight: bold;
  height: 100%;                   /* centrage dans le parent */
  display: flex;
  align-items: center;
  justify-content: center;

  /*-- pour effet shadow intérieur --*/
  border-radius: 50%;
  border: black solid 1px;
}

.progress-circle.thin,
.progress-circle.thin .progress-barre,
.progress-circle.thin .progress-sup50 {
  border-width: .075em;          /* largeur bordure de la gauge  */
  
}
.progress-circle.thin .progress-masque {
  left: -.075em;                  /* largeur bordure gauge  */
  top: -.075em;                   /* largeur bordure gauge  */
}
.progress-circle.smal {
  font-size: 8em;
}
.progress-wrapper {
  display: inline-block;
}


#updateButton {
  margin-top: 20px;      /* espace entre le cercle et le bouton */
  padding: 5px 20px;    /* taille du bouton */
  font-size: 0.8em;        /* taille du texte dans le bouton */
  cursor: pointer;      /* souris en forme de main pour le bouton */
  background-color: #c62385; /* couleur de fond du bouton */
  color: white;          /* couleur du texte */
  border: none;          /* enlever les bordures par défaut */
  border-radius: 5px;    /* arrondir les coins du bouton */
}

#updateButton:hover {
  background-color: #c62385be; /* couleur au survol */
}

.separation{
  border-top: solid 2px #c62385;
  margin-top: 20px;
  margin-bottom: 20px;
}



.button-group {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;   /* Centrage horizontal */
  gap: 20%;                 /* Marge horizontale entre les boutons */
}

.button-group button {
  flex: 1;
  width: 50%;
  padding: 1% 5%;
  font-size: 1em;
  cursor: pointer;
  color: black;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}


#resetButton {
  background-color: #dddddd;
}

#resetButton:hover {
  background-color: #ddddddbe;
}

#valider{
  background-color: #53B655;
}

#valider:hover{
  background-color: #53B655be;
  color: black;
}

#graph{
  background-color: #ffed00;
}

#graph:hover{
  background-color: #ffed00be;
}

.alert-success{
  display: none;
}































/* =============== Sur les petits écrans ============== */
@media (max-width: 768px) {
  .fiche {
      flex-direction: column;
  }

  .gauche, .droite {
      width: 100%;
  }

  .gauche {
    padding-bottom: 3rem;
  }


  /*=========== Formulaire ===========*/
  .formulaire label {
    display: block;
    margin-bottom: 0.3rem;
  }

  .label_nom,
  .label_promo,
  .label_campus {
    display: block;
    margin-bottom: 0.3rem;
  }

  #fname,
  #promo,
  #campus {
    width: 100%;
    margin-bottom: 1rem;
  }



  /*=========== Bandeau ===========*/
  .bandeau {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .bandeau input{
    width: 20%;
  }


/*=========== Carte Note ===========*/
.carte_note .text_note label,
.carte_note .text_note input {
    display: inline-block;  /* Affichage côte à côte */
    width: 48%;  /* Ajuste la largeur à 48% pour les labels et les inputs */
    margin-right: 4%;  /* Un petit espace entre le label et l'input */
}

.carte_note .text_note input {
    width: 48%; /* Ajuste la largeur des inputs */
}

/*=========== Carte avec petit carre ===========*/
.rectangle {
  width: 9%;
  height: 20px;
}
.rectangle2 {
  width: 9%;
  height: 20px;
}
.rectangle3 {
  width: 9%;
  height: 20px;
}


/*=========== Formulaire Ressenti Génerale ===========*/
.input_ressenti{
  width: 81% !important;
}


/*=========== Bouton Groupe ===========*/
.button-group {
  margin-left: 5%;
  margin-right: 5%;
}

}